:root {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: inherit;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $violet;
  transition: background-color 0.5s 0.2s linear;
  @include centerAbsolute;
}

.wrapper {
  width: 50rem;
  height: 15rem;
  display: flex;
  padding: 0 2rem;
  justify-content: space-evenly;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-color: #fff;
}

button {
  background-color: transparent;
  border: none;
  //focus is removed, because it's mobile nav imitation
  &:focus {
    outline: none;
  }
}
