@import "variables";
@import "mixins";
@import "initial";

.button-wrapper {
  @include centerAbsolute;
  flex: 1;
  transition: flex .5s 0s linear;
  align-self: center;
  height: 75px;
  border-radius: 45px;
  padding: 0 2rem;
  svg {
    width: 4rem;
    max-height: 100%;
    stroke-width: 5;
    stroke: #000000;
    justify-self: center;
    &.search {
      stroke-width: 0;
    }
  }
  p {
    display: none;
    padding-left: 1rem;
    font-family: $font;
    font-size: 2rem;
    font-weight: bold;
  }
  &.active.home {
    @include active($violet);
  }
  &.active.hart {
    @include active($pink);
  }
  &.active.search {
    @include active($yellow);
  }
  &.active.user {
    @include active($blue);
  }
  &:focus {
      outline: none;
  }
}
