@import 'variables';
@import 'mixins';
@import 'initial';

.button {
  flex: 1;
  transition: transform .07s 0s linear;
  align-self: center;
  height: 60px;
  border-radius: 45px;
  padding: 0 2rem;
  transform: scaleX(1);
  @include centerAbsolute;
  
  @media (min-width: 520px) {
    height: 75px;
  }

  $types: (
    'home': $violet,
    'hart': $pink,
    'search': $yellow,
    'user': $blue,
  );

  @each $type, $color in $types {
    &.active.#{$type} {
      @include active($color);
    }
  }

  &.blink {
    transform: scaleX(0);
  }
  svg {
    width: 4rem;
    max-height: 100%;
    stroke-width: 5;
    stroke: #000000;
    justify-self: center;
    &.search {
      stroke-width: 0;
    }
    @media (min-width: 520px) {
      width: 2.5rem;
    }
  }
  p {
    display: none;
    padding-left: 1rem;
    font-family: $font;
    font-size: 2rem;
    font-weight: bold;
  @media (min-width: 520px) {
    font-size: 1.6rem;
  }
  }
}